{% extends 'base1.html' %}{% load staticfiles %}{% block content %}
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId: '404783807112773',
      xfbml: true,
      version: 'v5.0'
    });
    FB.AppEvents.logPageView();
  };

  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) { return; }
    js = d.createElement(s);
    js.id = id;
    js.src = "https://connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>

<div class="slider fadeslider ">
  <ul class="slides slides2">

    <li class="fullblock">
      <div class="overlay-block h-100 w-100"></div>
      <img src="{% static 'images/jb_1.jpg' %}" class='img_slider_adj'>
      <!-- random image -->
      <div class="caption center-align fill">
        <h3 class='slide1_text'><b class='or'>JESS</b><br>BUTLER EVENTING</h3>

      </div>
    </li>
    <li class="fullblock">
      <div class="overlay-block h-100 w-100"></div>
      <img src="{% static 'images/jb_2.jpg' %}" class='img_slider_adj'>
      <!-- random image -->
      <div class="caption center-align bg">
        <h3 class='slide2_text'><b class='or'>C</b>oaching</h3>

      </div>
    </li>
    <li class="fullblock">
      <div class="overlay-block h-100 w-100"></div>
      <img src="{% static 'images/jb_5.jpg' %}" class='img_slider_adj'>
      <!-- random image -->
      <div class="caption center-align">
        <h3 class='slide2_text'>Horse <span class='or'>Camps</span></h3>

      </div>
    </li>
    <li class="fullblock">
      <div class="overlay-block h-100 w-100"></div>
      <img src="{% static 'images/jb_4.jpg' %}" class='img_slider_adj' />
      <!-- random image -->
      <div class="caption">
        <h3 class='slide4_text'><b class='blu'>G</b><b class='redd'>B</b> <br><b class='or'>Competitor</span></b></h3>

      </div>
    </li>

  </ul>
</div>
  
             

<div class='row fb_holder'>


  <div class='col s12 m4 sqh fb_sq image_container'>
    <img src="{% static 'images/stables.png' %}" class="fb_pic" />

    <p class='centered hide_title'>Horse Camps</p>
    <a href="{% url 'horsecamp' %}" class="modal-trigger">
      <div class="overlay">
        <div class=" text">'Attend a weekend horse camp with 2 or 3 of your riding buddies. Overnight accomodation for your horse and custom designed instruction</div>
      </div>
    </a>
  </div>
  <div class='col s12 m4 sqh fb_sq image_container'>
    <img src="{% static 'images/riding-lesson.jpg' %}" class="fb_pic" />
    <p class='centered hide_title'>Lessons</p>
    <a href="{% url 'lessons' %}" class="modal-trigger">
      <div class="overlay">
        <div class="text">I can teach all abilites but specialise in the grass roots rider.</div>
      </div>
    </a>
  </div>
  <div class='col s12 m4 sqh fb_sq image_container'>
    <img src="{% static 'images/feed.jpg' %}" class="fb_pic" />

    <a href="{% url 'feedback' %}" class="modal-trigger">
      <div class="overlay">
        
      </div>
    </a>
  </div>


</div>

<div class='row fb_holder '>

  {% for p in json2.feed.data%}
  <div class='col s12 m4 sqh fb_sq image_container'>

    <img src='{{p.full_picture}}' class="fb_pic" />
    <p class='centered'>'{{p.message}}'</p>
    <a href="{{p.link}}" class="">
      <div class="overlay">
        <div class="text"><img class="zi" src="{% static 'images/fuof.png' %}" /></div>
      </div>
    </a>


  </div>
  {% endfor %}

</div>

<div class='row fb_holder'>


  <div class='col s12 m4 sqh fb_sq image_container'>
     <div class="slider slider_comments">
  
    <ul class="slides">
       {% for f in fb %}
      <li class='white fb_li'>
        
        <div class="caption center-align">
          
           <p class="slider_para"><span class='feed_slider_title'>What People Are Saying</span><br>"{{f.review}}"</p>
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>

  </div>



  <div class='col s12 m4 sqh fb_sq image_container '>
    <a href="" data-target="modal1" class='modal-trigger'><img src="{% static 'images/question.jpg' %}" class="fb_pic" /></a>
  </div>
  <div class='col s12 m4 sqh fb_sq image_container white'>

    <div class="col-sm-12 signup">
         <h5>Receive E Mail Updates </h5>
      <form class="input-group" method='post' action="{% url 'emailadd' %}">
        
        <br> {{ signupform }}
        <button class="btn btn-sm btn-secondary" type="submit">Sign up</button> {% csrf_token %}
      </form>
            <div>
        {% if messages %} {% for message in messages %} {{ message }} {% endfor %}  {% endif %}
    </div>
      </div>
    </div>
  </div>
</div>


</div>

<script type="text/javascript" id="cookieinfo" src="//cookieinfoscript.com/js/cookieinfo.min.js">
</script>
{% endblock %}
