{% extends 'base1.html' %}{% load staticfiles %}{% block content %}
 <div class="video-container">
        <iframe width="853" height="480" src="//www.youtube.com/embed/Q8TXgCzxEnw?rel=0" frameborder="0" allowfullscreen></iframe>
      </div>


<div class="container">
    <div class='row'><!--circle1-->
        
        <div class="col offset-s2"></div>
        <div class="col s1 ">1</div>
        <div class="col s3 circ1 valign-wrapper">Book something</div>
        <div class="col s1"></div>
        <div class="col s1"></div>
        <div class="col s3"></div>
        <div class="col s1"></div>
     </div>
      <div class='row'><!-- horseshoe-->
        
        <div class="col offset-s2"></div>
        <div class="col s1"></div>
        <div class="col s3"><img src="{% static 'images/h_shoe.jpg' %}" class='right'/></div>
        
        <div class="col s1">2</div>
        <div class="col s2 "></div>
        <div class="col s1"></div>
     </div>
     
    <div class='row'><!--circle2-->
        
        <div class="col offset-s2"></div>
        <div class="col s1"></div>
        <div class="col s3"></div>
        
        <div class="col s3 circ1">2</div>
        <div class="col s2 "></div>
        <div class="col s2"></div>
     </div>
    
       <div class='row'><!--horse shoe2-->
        
        <div class="col offset-s2"></div>
        <div class="col s1 "></div>
        <div class="col s2 "></div>
        <div class="col s1"></div>
        <div class="col s3"><img src="{% static 'images/h_shoeright.jpg' %}" class='left'/></div>
        <div class="col s3"></div>
        <div class="col s1"></div>
     </div>
 <div class='row'><!--circle3-->
        
        <div class="col offset-s2"></div>
        <div class="col s2 ">1</div>
        <div class="col s3 circ1">Book something</div>
        <div class="col s1"></div>
        <div class="col s1"></div>
        <div class="col s2"></div>
        <div class="col s1"></div>
     </div>
     
          <div class='row'><!--horse shoe3-->
        
        <div class="col offset-s2"></div>
        <div class="col s1"></div>
        <div class="col s4"><img src="{% static 'images/h_shoe.jpg' %}" class='right'/></div>
        
        <div class="col s1">2</div>
        <div class="col s3 "></div>
        <div class="col s2"></div>
     </div>
        <div class='row'><!--circle4-->
        
        <div class="col offset-s2"></div>
        <div class="col s1"></div>
        <div class="col s3"></div>
        
        <div class="col s3 circ1">2</div>
        <div class="col s2 "></div>
        <div class="col s2"></div>
     </div>
    
     
       <div class='row'>
        
        <div class="col offset-s2"></div>
        <div class="col s1 ">1</div>
        <div class="col s3 "></div>
        <div class="col s1"><img src="{% static 'images/h_shoeright.jpg' %}" class='left'/></div>
        <div class="col s1"></div>
        <div class="col s3"></div>
        <div class="col s1"></div>
     </div>
      <div class='row'><!--circle 5-->
        
         <div class="col offset-s2"></div>
        <div class="col s2 ">1</div>
        <div class="col s3 circ1">Book something</div>
        <div class="col s1"></div>
        <div class="col s1"></div>
        <div class="col s2"></div>
        <div class="col s1"></div>
     </div>
    
</div>
<div class='horsecamp_cb'></div>

{% endblock %}