{% extends 'base1.html' %}{% load staticfiles %}{% block content %}
<div class="video-container">
    <iframe width="853" height="480" src="//www.youtube.com/embed/Q8TXgCzxEnw?rel=0" frameborder="0" allowfullscreen></iframe>
</div>


<div class="row">
    <div class='col s12 m6 horsecamp_cb'>
    </div>
    <div class='col s12 m5 '>
        
        <p class='hc_para'>
            Some Content
            </p>
    </div>

</div>
<div class="row">
        <div class='col s0 m1'></div>
       <div class='col s12 m5 '>
        <p class='hc_para'>some content</p>
    </div>
    <div class='col s12 m6 horsecamp_cb_right right'>
    </div>
 

</div>

<div class="row">
    <div class='col s12 m6 horsecamp_cb'>
    </div>
    <div class='col s12 m5 '>
        
        <p class='hc_para'>
           Some Content
            </p>
    </div>

</div>

<div class="row">
    <div class="col s12 content_hc_1"></div>
</div>

{% endblock %}
