{"filter":false,"title":"requirements.txt","tooltip":"/requirements.txt","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":158,"scrollleft":0,"selection":{"start":{"row":3,"column":2},"end":{"row":3,"column":2},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":10,"state":"start","mode":"ace/mode/text"}},"timestamp":1568977132780,"hash":"13142f06a93b37adc986af38b0f01c743e4c3143"}