@import url('https://fonts.googleapis.com/css?family=Montserrat:500&display=swap');

.or{
    color: #DBA543;
    background-color: transparent; 
}

.bl{
    color: #2E2665;
    background-color: transparent; 
}
 .gr{
     color:#707070;
 }




.contact{
    font-size: 1.2em;
}



.slide1_text{
    font-size: 100px;
    margin-top: 25%;
    font-family: 'Montserrat', sans-serif;
}

.slide2_text{
        font-size: 100px;
    margin-top: 15%;
    font-family: 'Montserrat', sans-serif;
}

.slide4_text{
        font-size: 100px;
    margin-top: 10%;
    margin-left:0;
    font-family: 'Montserrat', sans-serif;
}

.fullblock{
    display:block;
     background-size: cover;
  position: relative;
}

.overlay-block {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.5;
  transition: 0.5s ease;
  background-color: #572D23;
  overflow: hidden;
}



.img_slider_adj{
    min-height:800px;  
}

.logo_image{
   
   background-size: cover;
   max-width: 320px;
   max-height:116px;
   
  
}

.logo_text{
     font-family: 'Montserrat', sans-serif;
         font-size: 50px;
}

@media only screen and (max-width: 500px) {
  .slide1_text , .slide2_text, .slide4_text{
    font-size: 40px;
  
  }
  

    .logo_text{
    font-size: 20px;
  }
  
  .logo_image{
      max-width: 150px;
   max-height:58px;
  }
}

